*.asv
*.outb
*.out
*.dbg
*.pyc
.idea/
*.wnd
*.ipt
*.twr
*.sum
SimulationResults*
slprj
*.slxc
LidarAssistedControl.egg-info
# add wind for sprint
!Sprint/Wind/EOG_URef_12.wnd
!Sprint/Wind/EOG_URef_12.sum

.vs
out
SourceCode/FFP_v1/CMakeSettings.json
SourceCode/SignalProvider/CMakeSettings.json
SourceCode/WRAPPER/CMakeSettings.json
/Sprint_FASTv4d2/results
/Sprint_Frequency_FASTv4d2/results
SourceCode/PFC/CMakeSettings.json
