*.asv
*.outb
*.out
*.dbg
*.pyc
.idea/
*.wnd
*.ipt
*.twr
*.sum
SimulationResults*
slprj
*.slxc
.vs
LidarAssistedControl.egg-info

# add wind for sprint
!Sprint/Wind/EOG_URef_12.wnd
!Sprint/Wind/EOG_URef_12.sum

#keep ascii based wind files
!EOG_URef_25.wnd

# ignore dll build folder
out 

# ignore MS Visual Studio settings
SourceCode/FFP_v1/CMakeSettings.json
SourceCode/SignalProvider/CMakeSettings.json
SourceCode/WRAPPER/CMakeSettings.json
SourceCode/PFC/CMakeSettings.json

# ignore temp result folder
/Sprint_FASTv4d2/results
/Sprint_Frequency_FASTv4d2/results

# ignore Python virtual environment created by setup_python.py
UltraMarathon/python/venv/
__pycache__/

.vscode/settings.json
